@model RSOE.Models.Employee
@{
    ViewBag.Title = "Delete employee";
}

<div class="header text-center">
    <h2>Are you sure you want to delete this employee "@Model.FirstName @Model.LastName" ?</h2>
</div>

@using (Html.BeginForm())
{
    <div class="body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EmployeeId)

        <div class="d-flex justify-content-between">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", "Employee", null, new { @class = "btn btn-light" })
        </div>
    </div>
}